$("#tweetModal").modal("toggle")
$("#tweet_text").val("")
$(".container").eq(1).prepend("<p class='<%= flash[:tweet_success] ? "success" : "failure" %>'><%= flash[:tweet_success] or flash[:tweet_failure] %></p>")
