<div class="row">
  <%= render "users/user_stats", user: @user %>
  <div class="span9">
    <div class="row">
      <div class="span6">
        <h1><%= @user.user_name %>'s tweets</h1>
      </div>
      <div class="span3">
        <%= render "shared/follow_buttons", user: @user %>
      </div>
    </div>
    <% if @tweets.present? %>
      <% @tweets.each do |tweet| %>
        <%= render "tweets/tweet", tweet: tweet %>
      <% end %>
    <% else %>
      <p>No tweets!</p>
    <% end %>
  </div>
</div>
