<div class="row tweet">
  <div class="user_name span8">
    <%= link_to (image_tag(user.gravatar_url, alt: user.user_name, class: "gravatar")), user_tweets_path(user.user_name) %>
    <p><%= link_to "#{user.user_name}", user_tweets_path(user.user_name) %></p>
    <%= render "shared/follow_buttons", user: user %>
  </div>
</div>
