<div class="row tweet">
  <div class="user_name span8">
    <%= link_to (image_tag(user.gravatar_url, alt: user.user_name, class: "gravatar")), user_tweets_path(user.user_name) %>
    <p><%= link_to "#{user.user_name}", user_tweets_path(user.user_name) %></p>
    <% if current_user != user %>
      <% if current_user.following?(user) %>
        <button type="button" data-id="<%= user.id %>" class="btn btn-danger pull-right unfollow" >Unfollow</button>
      <% else %>
        <button type="button" data-id="<%= user.id %>" class="btn btn-primary pull-right follow" >Follow</button>
      <% end %>
    <% end %>
  </div>
</div>
