<h1>Home page</h1>
<p>this will show the tweets of the people you're following</p>
<p>if you're not logged in, it'll have a log in/ sign up screen</p>

<p>hey schlub, why don't you <%= link_to "post a tweet", new_tweet_path %></p>

<p>check out your <%= link_to "tweets", user_tweets_path(current_user.user_name) %></p>

<p>here are the other users on the site:</p>
<% @users.each do |user| %>
  <p><%= link_to "#{user.user_name}", user_tweets_path(user.user_name) %></p>
  <%= image_tag(user.gravatar_url, alt: user.user_name, class: "gravatar") %>
<% end %>
