<div class="row">
  <%= render "users/user_stats", user: current_user %>

  <div class="span9">

    <% if @following_tweets.present? %>
      <% @following_tweets.each do |tweet| %>
        <%= render "tweets/tweet", tweet: tweet %>
      <% end %>
    <% else %>
      <p>you're not following anyone!</p>
    <% end %>

  </div>
</div>
