<% if current_user != user %>
  <% if current_user.following?(user) %>
    <button type="button" data-id="<%= user.id %>" class="btn btn-danger pull-right unfollow" >Unfollow</button>
  <% else %>
    <button type="button" data-id="<%= user.id %>" class="btn btn-primary pull-right follow" >Follow</button>
  <% end %>
<% end %>
